// https://coolors.co/ea0027-190004-ffffff-548687-0f5257

$primary-color: #548687;
$primary-text-color: #ffffff;

$secondary-color: #153243;
$secondary-text-color: #000000;

$tertiary-color: #2f8d8e;

$background-color: #ffffff;

$default-border-radius: 2px;
